In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt 
import seaborn as sns
import seaborn.objects as so 
import pickle

In [15]:
df = pd.read_csv('./youtube_subs.csv', 
index_col = 0,
dtype = { 
    'Rank': 'int16',
    'Youtube Channel': 'string',
    'Subscribers': 'int32',
    'Video Views': 'int64',
    'Video Count': 'int32',
    'Category': 'category',
    'Started': 'int32'
})

df2 = df.rename({
    'Youtube Channel': 'Youtube_Channel', 
    'Video Views': 'Video_Views',
    'Video Count': 'Video_Count'
    }, axis=1)

In [16]:
df2 = df2[df2.Video_Views != 0]

df2.head()

,Rank,Youtube_Channel,Subscribers,Video_Views,Video_Count,Category,Started
0,1,T-Series,234000000,212900271553,18515,Music,2006
2,3,Cocomelon - Nursery Rhymes,152000000,149084178448,846,Education,2006
3,4,SET India,150000000,137828094104,103200,Shows,2006
4,5,MrBeast,128000000,21549128785,733,Entertainment,2012
6,7,PewDiePie,111000000,28851883250,4694,Gaming,2010